.pageProofs
	position: relative
	margin-bottom: 300px
	padding: 50px
	background: #DC143C
	color: #6EC1D2
	.title
		width: 440px
	.tag
		color: #7BC13D
	&__content
		position: relative
		width: 100%
		padding: 10px
		text-align: center
		font-weight: bold
		transform-style: preserve-3d
		transform: rotateY(-90deg)
		transition: transform 1s
		&-img
			position: relative
			width: 140px
			height: 140px
			margin: 0 auto
			margin-bottom: 10px
			background: lighten($accent, 50%)
			border-radius: 10px
			border: 2px solid $accent
			box-shadow: inset 0 0 40px 10px lighten($accent, 10%)
			font-size: 60px
			color: $accent
			font-weight: bold
			line-height: 130px
			z-index: 10		
		&-name
			margin-bottom: 10px
			font-size: 16px
			font-family: $titlefont