.pageProofs
	position: relative
	padding: 50px
	background: linear-gradient(to top, #4DC611 0%, #61C85F 50%, #7EC7A9 100%)
	.title
		width: 440px
	.tag
		color: #9e009e
	.lastarrow::after
			display: none	
	&__content
		position: relative
		width: 100%
		padding: 10px
		text-align: center
		font-weight: bold
		transform-style: preserve-3d
		transform: rotateY(-90deg)
		transition: transform 1s
		&:after
			+pseudo
			width: 5vw
			height: 5vw
			top: 20%
			right: -3.5vw 			
			background: url('../img/arrow.svg') center center no-repeat
			background-size: cover
			animation: arrowmove .5s linear infinite alternate	
			z-index: 10	
		&-img 
			position: relative
			width: 140px
			height: 140px
			margin: 0 auto
			margin-bottom: 10px
			background: linear-gradient(135deg, #EE86B9 0%, #9e009e 100%)
			border-radius: 50%
			border: 4px solid #9e009e
			box-shadow: inset 0 0 4px 2px darken(#9e009e, 10%)
			font-size: 60px
			color: $accent
			font-weight: bold
			line-height: 130px
			z-index: 10	
			
		&-name
			font-size: 16px
			font-family: $titlefont
			color: $accent
		
			

