section.contact
				.container
					h2#contact.contact__title.wow.slideInUp Контакты
					.title__icon.wow.slideInUp
						i.fa.fa-comment(aria-hidden="true")
					.row
						.col-lg-3.col-md-6
							.contact__elem
								.contact__elem-logo.logo1
									i.fa.fa-map-marker(aria-hidden="true")
								h5.contact__elem-title Adress
								p Moscow
						.col-lg-3.col-md-6
							.contact__elem.elem2
								.contact__elem-logo
									i.fa.fa-envelope-o(aria-hidden="true")
								h5.contact__elem-title Email
								p
									a(href="mailto:mikhalich2701@yandex.ru") mikhalich2701@yandex.ru
						.col-lg-3.col-md-6
							.contact__elem.elem3
								.contact__elem-logo
									i.fa.fa-mobile(aria-hidden="true")
								h5.contact__elem-title Phone
								p
									a(href="tel:+79263636824") +7 (926) 363 68 24 
						.col-lg-3.col-md-6
							.contact__elem.elem4
								.contact__elem-logo
									i.fa.fa-skype(aria-hidden="true")
								h5.contact__elem-title Skype
								p
									a(href="skype:live:mikhalich2701_1") live:mikhalich2701_1