section.contact#contact
	.container-fluid
		.row
			.col
				.title
					svg.circle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 310 200', style='enable-background:new 0 0 310 200;', xml:space='preserve')
						circle(r="90" cx="155" cy="100" stroke="url(#linearGradient5)" stroke-width="20" fill="transparent" style="clip-path: url(#rect1);")
						text.circle__text(x="0" y="135" fill="url(#linearGradient5)") КОНТАКТЫ
	.container-fluid
		.row.justify-content-center
			.col-xl-10.col-lg-12
				p.tag &lt;contacts&gt;
		.row.justify-content-center
			.col-xl-10.col-lg-12
				.row.justify-content-center
					.col-sm-4.col-xs-12
						.contact__elem.elem2
							.contact__elem-logo
								i.fa.fa-envelope-o(aria-hidden="true")
							h5.contact__elem-title Email
							p
								a(href="mailto:mikhalich2701@yandex.ru") mikhalich2701@yandex.ru
					.col-sm-4.col-xs-12
						.contact__elem.elem3
							.contact__elem-logo
								i.fa.fa-mobile(aria-hidden="true")
							h5.contact__elem-title Phone
							p
								a(href="tel:+79263636824") +7 (926) 363 68 24 
					.col-sm-4.col-xs-12
						.contact__elem.elem4
							.contact__elem-logo
								i.fa.fa-skype(aria-hidden="true")
							h5.contact__elem-title Skype
							p
								a(href="skype:live:mikhalich2701_1") live:mikhalich2701_1
		.row.justify-content-center
			.col-xl-10.col-lg-12
				p.tag &lt;/contacts&gt;