nav.navigate
  ul.navigate__box
    li.navigate__item
      a.navigate__item-link(href='#about') Обо мне
    li.navigate__item
      a.navigate__item-link(href='#skills') Навыки
    li.navigate__item
      a.navigate__item-link(href='#pageproofs') Верстка
    li.navigate__item
      a.navigate__item-link(href='#work') Портфолио
    li.navigate__item
      a.navigate__item-link(href='#contact') Контакты
    li.navigate__item
      a.navigate__item-link(href='#feedback') Заявка