nav.navigate
  ul.navigate__box
    li.navigate__item
      a.navigate__item-link(href='#') Обо мне
    li.navigate__item
      a.navigate__item-link(href='#') Навыки
    li.navigate__item
      a.navigate__item-link(href='#') Верстка
    li.navigate__item
      a.navigate__item-link(href='#') Портфолио
    li.navigate__item
      a.navigate__item-link(href='#') Контакты
    li.navigate__item
      a.navigate__item-link(href='#') Заявка