section.pageProofs
	.container-fluid
		.row
			.col
				.title
					svg.circle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 550 200', style='enable-background:new 0 0 550 200;', xml:space='preserve')
						circle(r="90" cx="275" cy="100" stroke="#7BC13D" stroke-width="20" fill="transparent")
						rect(x="0" y="65" width="550" height="75" fill="#DC143C")
						text.circle__text(x="0" y="135" fill="#fff") ПРОЦЕСС ВЕРСТКИ 
	.container-fluid
		.row.justify-content-center
			.col-xl-10.col-lg-12
				p.tag &lt;process&gt;
		.row.justify-content-center
			.col-xl-10.col-lg-12
				.row
					.col-lg-2.col-md-4.col-sm-6
						.pageProofs__content
							.pageProofs__content-img
								i.fa.fa-scissors(aria-hidden="true")
							.pageProofs__content-name
								p Работа с макетом
					.col-lg-2.col-md-4.col-sm-6
						.pageProofs__content
							.pageProofs__content-name
								p Верстка контента
							.pageProofs__content-img
								i.fa.fa-html5(aria-hidden="true")
					.col-lg-2.col-md-4.col-sm-6
						.pageProofs__content
							.pageProofs__content-img
								i.fa.fa-css3(aria-hidden="true")
							.pageProofs__content-name
								p Стилизация сайта
					.col-lg-2.col-md-4.col-sm-6
						.pageProofs__content
							.pageProofs__content-name
								p Адаптивная верстка
							.pageProofs__content-img
								i.fa.fa-mobile(aria-hidden="true")
					.col-lg-2.col-md-4.col-sm-6
						.pageProofs__content
							.pageProofs__content-img
								i.fa.fa-internet-explorer(aria-hidden="true")
							.pageProofs__content-name
								p Проверка в браузерах
					.col-lg-2.col-md-4.col-sm-6
						.pageProofs__content
							.pageProofs__content-name
								p Устранение ошибок
							.pageProofs__content-img
								i.fa.fa-exclamation-triangle(aria-hidden="true")
		.row.justify-content-center
			.col-xl-10.col-lg-12
					p.tag &lt;/process&gt;
