section.pageProofs
	.container-fluid
		.row
			.col
				.title
					svg.circle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 550 200', style='enable-background:new 0 0 550 200;', xml:space='preserve')
						circle(r="90" cx="275" cy="100" stroke="#e9b171" stroke-width="20" fill="transparent")
						rect(x="0" y="65" width="550" height="75" fill="#DC143C")
						text.circle__text(x="0" y="135" fill="#fff") ПРОЦЕСС ВЕРСТКИ 
		.row
			.col-lg-2.col-md-4.col-sm-6
				.pageProofs__content
					.pageProofs__content-way.pageProofs__content-way-way1
					.pageProofs__content-img
						i.fa.fa-scissors(aria-hidden="true")
					.pageProofs__content-name
						p Работа с макетом
			.col-lg-2.col-md-4.col-sm-6
				.pageProofs__content
					.pageProofs__content-way.pageProofs__content-way-way2
					.pageProofs__content-name
						p Верстка контента
					.pageProofs__content-img
						i.fa.fa-html5(aria-hidden="true")
			.col-lg-2.col-md-4.col-sm-6
				.pageProofs__content
					.pageProofs__content-way.pageProofs__content-way-way3
					.pageProofs__content-img
						i.fa.fa-css3(aria-hidden="true")
					.pageProofs__content-name
						p Стилизация сайта
			.col-lg-2.col-md-4.col-sm-6
				.pageProofs__content
					.pageProofs__content-way.pageProofs__content-way-way4
					.pageProofs__content-name
						p Адаптивная верстка
					.pageProofs__content-img
						i.fa.fa-mobile(aria-hidden="true")
			.col-lg-2.col-md-4.col-sm-6
				.pageProofs__content
					.pageProofs__content-way.pageProofs__content-way-way5
					.pageProofs__content-img
						i.fa.fa-internet-explorer(aria-hidden="true")
					.pageProofs__content-name
						p Проверка в браузерах
			.col-lg-2.col-md-4.col-sm-6
				.pageProofs__content
					.pageProofs__content-name
						p Устранение ошибок
					.pageProofs__content-img
						i.fa.fa-exclamation-triangle(aria-hidden="true")
		.row.justify-content-center
			h3.pageProofs__resurseTitle Что я использую в процессе верстки
			.row.justify-content-center
			.pageProofs__resurse
				.pageProofs__resurse-button.pageProofs__resurse-button-prev
					i.fa.fa-chevron-left(aria-hidden="true")
				.pageProofs__resurse-button.pageProofs__resurse-button-next
					i.fa.fa-chevron-right(aria-hidden="true")
				.pageProofs__resurse-row
					.pageProofs__resurse-row-elem
						img(src="img/avocode-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/bootstrap-logo.jpg" alt="")
					.pageProofs__resurse-row-elem
						img(src="img/gulp-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/html-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/JavaScript.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/jquery-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/less-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/photoshop-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/pixel-logo.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/sass.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/figma.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/pug.jpg" alt="Ресурсы")
					.pageProofs__resurse-row-elem
						img(src="img/smart.jpg" alt="Ресурсы")