section.skills
	.skills__angleUp
		svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 1920 100', style='enable-background:new 0 0 1920 100;', xml:space='preserve')
			polygon(points="0,0 1920,0 0,100" fill="#00008B")
	.skills__angleDown
		svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 1920 100', style='enable-background:new 0 0 1920 100;', xml:space='preserve')
			polygon(points="0,100 1920,100 1920,0" fill="#fff")
	.container
		.row
			.col
				.title
					svg.circle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 400 200', style='enable-background:new 0 0 400 200;', xml:space='preserve')
						defs
							clipPath#rect
								rect(x="0" y="0" width="400" height="65")
								rect(x="0" y="140" width="400" height="60")
						circle(r="90" cx="200" cy="100" stroke="#DC143C" stroke-width="20" fill="transparent" style="clip-path: url(#rect);")
						text.circle__text(x="0" y="135" fill="#fff") МОИ НАВЫКИ
	.container-fluid
		.row.justify-content-center
			.col-xl-10.col-lg-12
					p.tag &lt;skills&gt;
			.col-xl-9.col-sm-10
				.row
					.col-xl-4.col-md-6
						h4.skills__name HTML5/CSS3
						.skills__text
							ul.skills__text-block
								li.skills__text-item
									| Валидный, кроссбраузерный код
								li.skills__text-item
									| Семантичная верстка
								li.skills__text-item
									| Структутированный код
								li.skills__text-item
									| Анимация, hover-эффекты без JS
								li.skills__text-item
									| PixelPerfect
								li.skills__text-item
									| Методология БЭМ
					.col-xl-4.col-md-6
						h4.skills__name Javascript/JQuery
						.skills__text
							ul.skills__text-block
								li.skills__text-item
									| Свой Javascript/JQuery код
								li.skills__text-item
									| Настроенные JQuery плагины
								li.skills__text-item
									| API Карт - Яндекс
								li.skills__text-item
									| Комментируемый код
					.col-xl-4.col-md-6
						h4.skills__name Photoshop/Figma
						.skills__text
							ul.skills__text-block
								li.skills__text-item
									| Нарезка изображений из макета
								li.skills__text-item
									| Оптимизация изображений для Web
								li.skills__text-item
									| Экспорт SVG-изображений
								li.skills__text-item
									| Экспорт стилей для ускоренной верстки
								li.skills__text-item
									| Создание спрайтов
					.col-xl-4.col-md-6
						h4.skills__name Gulp/Pug
						.skills__text
							ul.skills__text-block
								li.skills__text-item
									| Быстрое разворачивание проекта
								li.skills__text-item
									| Автоматизация процесса верстки
								li.skills__text-item
									| Компиляция препроцессоров
								li.skills__text-item
									| Использование шаблонизаторов 
								li.skills__text-item
									| Минификация файлов
					.col-xl-4.col-md-6
						h4.skills__name Bootstrap/Smart-grid
						.skills__text
							ul.skills__text-block
								li.skills__text-item
									| Высокая скорость разработки сайта
								li.skills__text-item
									| Кроссбраузерность и адаптивность сайта
								li.skills__text-item
									| Готовые шаблоны элементов сайта
								li.skills__text-item
									| Оптимизированная навигация
					.col-xl-4.col-md-6
						h4.skills__name Less/Sass
						.skills__text
							ul.skills__text-block
								li.skills__text-item
									| Ускоренная стилизация сайта
								li.skills__text-item
									| Более гибкий код
								li.skills__text-item
									| Улучшенная логика стилей
								li.skills__text-item
									| Упрощенный синтаксис
								li.skills__text-item
									| Вложенность селекторов без ошибок
			.col-xl-10.col-lg-12
					p.tag &lt;/skills&gt;