
<section class="aboutMe" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="title">
          <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 250 200" style="enable-background:new 0 0 250 200;" xml:space="preserve">
            <defs>
              <lineargradient id="linearGradient">
                <stop stop-color="#ED1A11" offset="0%"></stop>
                <stop stop-color="#E9009A" offset="50%"></stop>
                <stop stop-color="#CC5532" offset="100%"></stop>
              </lineargradient>
            </defs>
            <defs>
              <lineargradient id="linearGradient2">
                <stop stop-color="#C0731A" offset="0%"></stop>
                <stop stop-color="#e9b171" offset="50%"></stop>
                <stop stop-color="#CFE53C" offset="100%"></stop>
              </lineargradient>
            </defs>
            <defs>
              <lineargradient id="linearGradient3">
                <stop stop-color="#9F089F" offset="0%"></stop>
                <stop stop-color="#C678F7" offset="50%"></stop>
                <stop stop-color="#EF6BCA" offset="100%"></stop>
              </lineargradient>
            </defs>
            <defs>
              <lineargradient id="linearGradient4">
                <stop stop-color="#1E22E2" offset="0%"></stop>
                <stop stop-color="#0D83DD" offset="50%"></stop>
                <stop stop-color="#6A11E0" offset="100%"></stop>
              </lineargradient>
            </defs>
            <defs>
              <lineargradient id="linearGradient5">
                <stop stop-color="#2c3e50" offset="0%"></stop>
                <stop stop-color="#4E667D" offset="50%"></stop>
                <stop stop-color="#5B8BB9" offset="100%"></stop>
              </lineargradient>
            </defs>
            <defs>
              <lineargradient id="linearGradient6">
                <stop stop-color="#ffffff" offset="0%"></stop>
                <stop stop-color="#d3d3d3" offset="50%"></stop>
                <stop stop-color="#b2b2b2" offset="100%"></stop>
              </lineargradient>
            </defs>
            <circle r="90" cx="125" cy="100" stroke="url(#linearGradient2)" stroke-width="20" fill="transparent" style="clip-path: url(#rect1);"></circle>
            <text class="circle__text" x="0" y="135" fill="url(#linearGradient2)">ОБО МНЕ </text>
          </svg>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6">
        <div class="aboutMe__info">
          <p class="tag">&lt;about&gt;</p>
          <p class="aboutMe__text">Приветствую Вас на своем сайте-портфолио. Меня зовут Алескей. Живу в Москве. Занимаюсь HTML-версткой сайтов.  У меня полностью кроссбраузерная, адаптивная и валидная верстка.</p>
          <p class="aboutMe__text">Для обеспечения выполнения требований, предъявляемых к верстке сайта в процессе работы над проектом я использую сборщик проектов Gulp для автоматизации процесса верстки, препроцессоры Less/Sass для ускоренной стилизации сайта и более гибкого кода, шаблонизатор Pug, Pixel Perfect для верстки, совпадающей с предоставленным макетом «пиксель в пиксель», БЭМ, Bootstrap, Smartgrid и media-запросы для адаптивной верстки сайта.</p>
          <p class="aboutMe__text">Динамика сайта организуется собственным jQuery кодом или настроенными плагинами. В конце работы осуществляется проверка отображения верстки в различных браузерах на разных устройствах, код проверяется валидатором на соответствие стандартам и устраняются выявленные ошибки.</p>
          <p class="tag">&lt;/about&gt;</p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6">
        <div class="myfoto">
          <svg class="gexagon" width="0" height="0">
            <defs>
              <defs>
                <path id="gexagon" d="M0.0000,0.0151 L0.0302,0.0000 L0.0605,0.0151 L0.0605,0.0453 L0.0302,0.0605 L0.0000,0.0453z"></path>
              </defs>
              <clippath id="clipping" clippathunits="objectBoundingBox">
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5625" y="0.0000"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.625" y="0.0000"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.0485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.0485"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5937" y="0.0485"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.0485"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.7187" y="0.0485"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7812" y="0.0485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.097"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4375" y="0.097"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.097"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.097"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.097"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6875" y="0.097"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.75" y="0.097"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.8125" y="0.097"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.875" y="0.097"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2812" y="0.1455"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.3437" y="0.1455"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4062" y="0.1455"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.1455"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.1455"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5937" y="0.1455"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.1455"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7187" y="0.1455"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7812" y="0.1455"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.8437" y="0.1455"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.9062" y="0.1455"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.1875" y="0.194"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.25" y="0.194"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.3125" y="0.194"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.194"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4375" y="0.194"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.194"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.194"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.194"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.6875" y="0.194"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.75" y="0.194"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.8125" y="0.194"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.875" y="0.194"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.9375" y="0.194"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.0937" y="0.2425"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.1562" y="0.2425"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2187" y="0.2425"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2812" y="0.2425"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.3437" y="0.2425"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4062" y="0.2425"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4687" y="0.2425"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.2425"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5937" y="0.2425"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.2425"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7187" y="0.2425"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7812" y="0.2425"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.8437" y="0.2425"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.9062" y="0.2425"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.125" y="0.291"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.1875" y="0.291"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.25" y="0.291"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.3125" y="0.291"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.291"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4375" y="0.291"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.291"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.291"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.291"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.6875" y="0.291"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.75" y="0.291"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.8125" y="0.291"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.875" y="0.291"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.9375" y="0.291"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.1562" y="0.3395"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2187" y="0.3395"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2812" y="0.3395"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.3437" y="0.3395"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4062" y="0.3395"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.3395"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.3395"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5937" y="0.3395"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.3395"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7187" y="0.3395"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.7812" y="0.3395"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.8437" y="0.3395"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.9062" y="0.3395"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.1875" y="0.388"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.25" y="0.388"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.3125" y="0.388"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.388"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4375" y="0.388"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.388"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.388"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.388"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.6875" y="0.388"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.75" y="0.388"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.8125" y="0.388"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.875" y="0.388"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.9375" y="0.388"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2187" y="0.4365"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.2812" y="0.4365"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.3437" y="0.4365"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4062" y="0.4365"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.4365"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.4365"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5937" y="0.4365"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.4365"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7187" y="0.4365"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7812" y="0.4365"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.8437" y="0.4365"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.1875" y="0.485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.25" y="0.485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.3125" y="0.485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4375" y="0.485"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.485"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.485"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.485"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.6875" y="0.485"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.75" y="0.485"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.8125" y="0.485"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.875" y="0.485"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.2187" y="0.5335"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.2812" y="0.5335"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.3437" y="0.5335"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4062" y="0.5335"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.5335"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.5335"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5937" y="0.5335"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.5335"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7187" y="0.5335"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.7812" y="0.5335"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.8437" y="0.5335"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.3125" y="0.582"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.582"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4375" y="0.582"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.582"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.582"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.582"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.6875" y="0.582"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.75" y="0.582"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.8125" y="0.582"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.875" y="0.582"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.3437" y="0.6305"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4062" y="0.6305"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.6305"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.6305"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5937" y="0.6305"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.6562" y="0.6305"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.7185" y="0.6305"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.3125" y="0.679"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.375" y="0.679"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4375" y="0.679"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.679"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.679"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.679"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.6875" y="0.679"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.75" y="0.679"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.3437" y="0.7275"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4062" y="0.7275"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4687" y="0.7275"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.7275"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5937" y="0.7275"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.6562" y="0.7275"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.7185" y="0.7275"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4375" y="0.776"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.776"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.776"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.776"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4062" y="0.8245"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.4687" y="0.8245"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.8245"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5937" y="0.8245"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.6562" y="0.8245"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.4375" y="0.873"></use>
                <use class="gexagon-item first" xlink:href="#gexagon" x="0.5" y="0.873"></use>
                <use class="gexagon-item third" xlink:href="#gexagon" x="0.5625" y="0.873"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.625" y="0.873"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5312" y="0.9215"></use>
                <use class="gexagon-item second" xlink:href="#gexagon" x="0.5937" y="0.9215"></use>
              </clippath>
            </defs>
          </svg>
          <div class="myfoto__img"><img class="img" src="img/developer.jpg" alt="Верстальщик"/></div>
        </div>
      </div>
    </div>
  </div>
</section>