
<section class="contact">
  <div class="container">
    <h2 class="contact__title wow slideInUp" id="contact">Контакты</h2>
    <div class="title__icon wow slideInUp"><i class="fa fa-comment" aria-hidden="true"></i></div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="contact__elem">
          <div class="contact__elem-logo logo1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <h5 class="contact__elem-title">Adress</h5>
          <p>Moscow</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="contact__elem elem2">
          <div class="contact__elem-logo"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
          <h5 class="contact__elem-title">Email</h5>
          <p><a href="mailto:mikhalich2701@yandex.ru">mikhalich2701@yandex.ru</a></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="contact__elem elem3">
          <div class="contact__elem-logo"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <h5 class="contact__elem-title">Phone</h5>
          <p><a href="tel:+79263636824">+7 (926) 363 68 24 </a></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="contact__elem elem4">
          <div class="contact__elem-logo"><i class="fa fa-skype" aria-hidden="true"></i></div>
          <h5 class="contact__elem-title">Skype</h5>
          <p><a href="skype:live:mikhalich2701_1">live:mikhalich2701_1</a></p>
        </div>
      </div>
    </div>
  </div>
</section>