
<section class="feedback" id="feedback">
  <div class="angleUp">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1920 100" style="enable-background:new 0 0 1920 100;" xml:space="preserve">
      <use xlink:href="#angleUp" x="0.0000" y="0.0000" fill="#d6ba93"></use>
    </svg>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="title">
          <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 580 200" style="enable-background:new 0 0 580 200;" xml:space="preserve">
            <circle r="90" cx="290" cy="100" stroke="url(#linearGradient6)" stroke-width="20" fill="transparent" style="clip-path: url(#rect1);"></circle>
            <text class="circle__text" x="0" y="135" fill="url(#linearGradient6)">ОТПРАВИТЬ ЗАЯВКУ </text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;form&gt;</p>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="feedback__text">Для того, чтобы определить сроки выполнеия и стоимость работ мне необходимы макеты сайта и техническое задание с требованиями по выполнению проекта.</p>
    <form class="form" id="myForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form__block">
            <div class="form__row">
              <input class="form__enter" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form__row">
              <input class="form__enter" type="email" name="email" placeholder="Ваш Email"/>
            </div>
            <div class="form__row">
              <input class="form__enter" type="text" name="subject" placeholder="Тема"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form__block">
            <div class="form__row">
              <textarea class="form__textarea" name="message" placeholder="Ваше сообщение"></textarea>
            </div>
            <button class="form__button" type="submit">Отправить</button>
          </div>
        </div>
      </div>
    </form>
    <div id="answer"></div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;/form&gt;</p>
      </div>
    </div>
  </div>
</section>