
<nav class="navigate">
  <ul class="navigate__box">
    <li class="navigate__item"><a class="navigate__item-link" href="#">Обо мне</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#">Навыки</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#">Верстка</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#">Портфолио</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#">Контакты</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#">Заявка</a></li>
  </ul>
</nav>