
<nav class="navigate">
  <ul class="navigate__box">
    <li class="navigate__item"><a class="navigate__item-link" href="#about">Обо мне</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#skills">Навыки</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#pageproofs">Верстка</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#work">Портфолио</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#contact">Контакты</a></li>
    <li class="navigate__item"><a class="navigate__item-link" href="#feedback">Заявка</a></li>
  </ul>
</nav>