
<section class="pageProofs">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="title">
          <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 550 200" style="enable-background:new 0 0 550 200;" xml:space="preserve">
            <circle r="90" cx="275" cy="100" stroke="#7BC13D" stroke-width="20" fill="transparent"></circle>
            <rect x="0" y="65" width="550" height="75" fill="#DC143C"></rect>
            <text class="circle__text" x="0" y="135" fill="#fff">ПРОЦЕСС ВЕРСТКИ </text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;process&gt;</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pageProofs__content">
              <div class="pageProofs__content-img"><i class="fa fa-scissors" aria-hidden="true"></i></div>
              <div class="pageProofs__content-name">
                <p>Работа с макетом</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pageProofs__content">
              <div class="pageProofs__content-img"><i class="fa fa-html5" aria-hidden="true"></i></div>
              <div class="pageProofs__content-name">
                <p>Верстка контента		</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pageProofs__content">
              <div class="pageProofs__content-img"><i class="fa fa-css3" aria-hidden="true"></i></div>
              <div class="pageProofs__content-name">
                <p>Стилизация сайта</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pageProofs__content">
              <div class="pageProofs__content-img"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <div class="pageProofs__content-name">
                <p>Адаптивная верстка</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pageProofs__content">
              <div class="pageProofs__content-img"><i class="fa fa-internet-explorer" aria-hidden="true"></i></div>
              <div class="pageProofs__content-name">
                <p>Проверка в браузерах</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pageProofs__content">
              <div class="pageProofs__content-img lastarrow"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
              <div class="pageProofs__content-name">
                <p>Устранение ошибок</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;/process&gt;</p>
      </div>
    </div>
  </div>
</section>