
<section class="works">
  <div class="angleUp">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1920 100" style="enable-background:new 0 0 1920 100;" xml:space="preserve">
      <use xlink:href="#angleUp" x="0.0000" y="0.0000" fill="#4DC611"></use>
    </svg>
  </div>
  <div class="angleDown">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1920 100" style="enable-background:new 0 0 1920 100;" xml:space="preserve">
      <use xlink:href="#angleUp" x="0.0000" y="100.0000" fill="#fff" transform="rotate(180, 960, 100)"></use>
    </svg>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="title">
          <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 350 200" style="enable-background:new 0 0 350 200;" xml:space="preserve">
            <circle r="90" cx="175" cy="100" stroke="#9e009e" stroke-width="20" fill="transparent" style="clip-path: url(#rect1);"></circle>
            <text class="circle__text" x="0" y="135" fill="url(#linearGradient)">ПОРТФОЛИО</text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;works&gt;</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <div class="row justify-content-center">
          <nav class="works__nav">
            <ul>
              <li><a class="works__nav-elem filter" data-filter="all"><span>Все работы</span></a></li>
              <li><a class="works__nav-elem filter" data-filter="#firstStep"><span>Первые шаги</span></a></li>
              <li><a class="works__nav-elem filter" data-filter="#bootstrap"><span>Bootstrap</span></a></li>
              <li><a class="works__nav-elem filter" data-filter="#smartgrid"><span>Smartgrid</span></a></li>
              <li><a class="works__nav-elem filter" data-filter="#adaptive"><span>Без фреймворков</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="row">
          <div class="works__block" id="contianer">
            <div class="works__block-elem" id="bootstrap">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект</p><a href="https://mikhalich2701.github.io/gmg/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/gmg.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="bootstrap">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Сборщик Gulp. Адаптив на bootstrap</p><a href="https://mikhalich2701.github.io/introdiz/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/introdiz.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="firstStep">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Практика в 3D трансформациях</p><a href="https://mikhalich2701.github.io/3D_effects/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/3d.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="bootstrap">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Первый адаптив на bootstrap</p><a href="https://mikhalich2701.github.io/bestfood/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/bestfood.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="smartgrid">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Сборщик Gulp. Адаптив на smartgrid</p><a href="https://mikhalich2701.github.io/redrute/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/redrute.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="adaptive">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Сайт с чистым js и адаптивом без фреймворков</p><a href="https://mikhalich2701.github.io/topclass/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/topclass.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="smartgrid">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Сборщик Gulp. Адаптив на smartgrid. Многостраничник.</p><a href="https://mikhalich2701.github.io/socialagency/" target="_blank">Посмотреть</a>
                </div>
              </div><img src="img/social.jpg" alt="Сайт"/>
            </div>
            <div class="works__block-elem" id="bootstrap">
              <div class="works__block-elem-way">
                <div class="works__block-elem-way-row">
                  <p>Сборщик Gulp. Адаптив на bootstrap</p><a href="#">Посмотреть</a>
                </div>
              </div><img src="img/portfolio.jpg" alt="Сайт"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;works&gt;</p>
      </div>
    </div>
  </div>
</section>