
<section class="skills">
  <div class="skills__angleUp">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1920 100" style="enable-background:new 0 0 1920 100;" xml:space="preserve">
      <polygon points="0,0 1920,0 0,100" fill="#00008B"></polygon>
    </svg>
  </div>
  <div class="skills__angleDown">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1920 100" style="enable-background:new 0 0 1920 100;" xml:space="preserve">
      <polygon points="0,100 1920,100 1920,0" fill="#fff"></polygon>
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">
          <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 400 200" style="enable-background:new 0 0 400 200;" xml:space="preserve">
            <defs>
              <clipPath id="rect">
                <rect x="0" y="0" width="400" height="65"></rect>
                <rect x="0" y="140" width="400" height="60"></rect>
              </clipPath>
            </defs>
            <circle r="90" cx="200" cy="100" stroke="#DC143C" stroke-width="20" fill="transparent" style="clip-path: url(#rect);"></circle>
            <text class="circle__text" x="0" y="135" fill="#fff">МОИ НАВЫКИ</text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;skills&gt;</p>
      </div>
      <div class="col-xl-9 col-sm-10">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <h4 class="skills__name">HTML5/CSS3</h4>
            <div class="skills__text">
              <ul class="skills__text-block">
                <li class="skills__text-item">Валидный, кроссбраузерный код</li>
                <li class="skills__text-item">Семантичная верстка</li>
                <li class="skills__text-item">Структутированный код</li>
                <li class="skills__text-item">Анимация, hover-эффекты без JS</li>
                <li class="skills__text-item">PixelPerfect</li>
                <li class="skills__text-item">Методология БЭМ</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <h4 class="skills__name">Javascript/JQuery</h4>
            <div class="skills__text">
              <ul class="skills__text-block">
                <li class="skills__text-item">Свой Javascript/JQuery код</li>
                <li class="skills__text-item">Настроенные JQuery плагины</li>
                <li class="skills__text-item">API Карт - Яндекс</li>
                <li class="skills__text-item">Комментируемый код</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <h4 class="skills__name">Photoshop/Figma</h4>
            <div class="skills__text">
              <ul class="skills__text-block">
                <li class="skills__text-item">Нарезка изображений из макета</li>
                <li class="skills__text-item">Оптимизация изображений для Web</li>
                <li class="skills__text-item">Экспорт SVG-изображений</li>
                <li class="skills__text-item">Экспорт стилей для ускоренной верстки</li>
                <li class="skills__text-item">Создание спрайтов</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <h4 class="skills__name">Gulp/Pug</h4>
            <div class="skills__text">
              <ul class="skills__text-block">
                <li class="skills__text-item">Быстрое разворачивание проекта</li>
                <li class="skills__text-item">Автоматизация процесса верстки</li>
                <li class="skills__text-item">Компиляция препроцессоров</li>
                <li class="skills__text-item">Использование шаблонизаторов </li>
                <li class="skills__text-item">Минификация файлов</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <h4 class="skills__name">Bootstrap/Smart-grid</h4>
            <div class="skills__text">
              <ul class="skills__text-block">
                <li class="skills__text-item">Высокая скорость разработки сайта</li>
                <li class="skills__text-item">Кроссбраузерность и адаптивность сайта</li>
                <li class="skills__text-item">Готовые шаблоны элементов сайта</li>
                <li class="skills__text-item">Оптимизированная навигация</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <h4 class="skills__name">Less/Sass</h4>
            <div class="skills__text">
              <ul class="skills__text-block">
                <li class="skills__text-item">Ускоренная стилизация сайта</li>
                <li class="skills__text-item">Более гибкий код</li>
                <li class="skills__text-item">Улучшенная логика стилей</li>
                <li class="skills__text-item">Упрощенный синтаксис</li>
                <li class="skills__text-item">Вложенность селекторов без ошибок</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-10 col-lg-12">
        <p class="tag">&lt;/skills&gt;</p>
      </div>
    </div>
  </div>
</section>