doctype html
html(lang='ru')
	head
		include layout/head.pug
	body
		//PRELOADER
		include layout/preloader.pug
		//NAVIGATE
		include layout/navigate.pug
		//HEADER
		include layout/header.pug
		main.main
			//ABOUT ME
			include layout/aboutme.pug
			//SKILLS
			include layout/skills.pug
			//PAGEPROOFS
			include layout/pageproofs.pug
		//SCRIPTS
		include layout/scripts.pug



	